<div class="usa-overlay"></div>
<header class="usa-header usa-header--extended">
    <div class="usa-navbar">
        <img class="fsdp-logo mobile-logo" src="img/US-FS-Mark.jpg" role="img" alt="USFS logo">
        <img class="fsdp-logo desktop-logo" src="img/US-FS-LOGO3.jpg" role="img" alt="USFS logo">
        <div class="usa-logo" id="extended-logo">
            <em class="usa-logo__text">
                <a href="index.html" title="Home" aria-label="Home">WebCentral- FS-DP</a>
            </em>
        </div>
        <button class="usa-menu-btn">Menu</button>
    </div>

    <!-- Navigation Begin -->

    @@include('./nav.html')

    <!-- Navigation End -->
</header>