<nav aria-label="Primary navigation" class="usa-nav">
    <div class="usa-nav__inner">
        <button class="usa-nav__close">
            <img src="img/close.svg" role="img" alt="close">
        </button>
        <ul class="usa-nav__primary usa-accordion">
            <li class="usa-nav__primary-item">
                <a class="usa-nav__link" href="#"><span>How to Use FSDP</span></a>
            </li>
            <li class="usa-nav__primary-item">
                <a class="usa-nav__link" href="#"><span>Developers</span></a>
            </li>
            <li class="usa-nav__primary-item">
                <a class="usa-nav__link" href="#"><span>Components</span></a>
            </li>
            <li class="usa-nav__primary-item">
                <a class="usa-nav__link" href="#"><span>Design</span></a>
            </li>
            <li class="usa-nav__primary-item">
                <a class="usa-nav__link" href="#"><span>About</span></a>
            </li>
            <li class="usa-nav__primary-item">
                <a class="usa-nav__link" href="#"><span>Product Road Map</span></a>
            </li>
        </ul>
        <div class="usa-nav__secondary">
            <form class="usa-search usa-search--small" role="search">
                <label class="usa-sr-only" for="extended-search-field-small">Search small</label>
                <input class="usa-input" id="extended-search-field-small" type="search" name="search">
                <button class="usa-button" type="submit"><span class="usa-sr-only">Search</span></button>
            </form>
        </div>
    </div>
</nav>